.searchBox{
    margin-top: 50px;
    position: relative;
}

.searchBox input {
    width: 300px;
    height: 50px;
    padding: 10px;
    color: #fff;
    font-size: 1.1rem;
    background-color: #23242e;
    border: none;
    border-radius: 5px;
}

.searchBox select:focus {
    outline: none;
}

.searchResault {
    
    position: absolute;
    text-align: center;
    top: 60px;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    overflow-y: scroll;
    background-color: #18181c;
    border: 1px solid #23242e;
    padding: 20px;
}

::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

.searchResault li {
    list-style: none;
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #22262e;
}

.searchResault li img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}